<a href="/shopping_cart">
    <img src="../images/shopping_cart.jpg" style="position:relative; top:10px; left:10px;" width="50", height="50" alt="shopping_cart">
</a>
<h1>Login</h1>
<form action = "check_login" method="POST">
    Username: <input type = "text" name = "user_name"> <br>
    Password: <input type = "text" name = "password"> <br>
    <input type = "submit" value = "Submit">
</form>
<a href="/">Home Page</a>