<title>Homework-4 Register Page</title>
<a href="/shopping_cart">
    <img src="../images/shopping_cart.jpg" style="position:relative; top:10px; left:10px;" width="50", height="50" alt="shopping_cart">
</a>
<h1>Please Register Before Login</h1>
<form action = "register" method="POST">
    Username: <input type = "text" name = "user_name"> <br>
    Password: <input type = "text" name = "password"> <br>
    Password again: <input type = "text" name = "password_match"> <br>
    <input type = "submit" value = "Submit">
</form>
<a href="/">Home Page</a>